<h2>Login Page</h2>

<fieldset>
  <legend>Oauth</legend>
  <p>
    <button  class="btn btn-primary" ng-click="oauthLogin('facebook')">Facebook</button>
    <button  class="btn btn-primary" ng-click="oauthLogin('google')">Google</button>
  </p>
</fieldset>

<form role="form">
  <p class="form-group">
    <label for="loginEmail">email</label>
    <input id="loginEmail" required name="email" type="email" ng-model="email" class="form-control" />
  </p>
  <p class="form-group">
    <label for="loginPass">password</label>
    <input id="loginPass" required name="pass" type="password" ng-model="pass" class="form-control" />
  </p>

  <p>
    <button  class="btn btn-primary" ng-click="passwordLogin(email, pass)">Log In</button>
    <a class="btn btn-success" ui-sref="register">Register</a>
  </p>
</form>
<p ng-show="err" class="bg-danger">{{err}}</p>
